.ui-pagination {
    position: relative;
}
.ui-pagination ul {
    text-align: center;
}
.ui-pagination li {
    display: inline-block;
}
.ui-pagination li a {
    cursor: pointer;
    display: inline-block;
}
.ui-pagination .total {
    position: absolute;
    right: 0;
    bottom: 0;
}
.ui-pagination .total a {
    text-decoration: none;
}
.ui-pagination-ellipsis {

}
