.ui-pagination {
    position: relative;
    color: #666;
}
.ui-pagination ul {
    text-align: center;
    line-height: 34px;
}
.ui-pagination li {
    display: inline-block;
}
.ui-pagination li.active {
    font-weight: bold;
}
.ui-pagination li a {
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    background-color: #fff;
    padding: .5em .9em;
}
.ui-pagination .total {
    position: absolute;
    right: 0;
    line-height: 34px;
}
.ui-pagination-ellipsis {

}
