.ui-pagination {
    position: relative;
}
.ui-pagination ul {
    text-align: center;
}
.ui-pagination li {
    display: inline-block;
}
.ui-pagination li a {
    cursor: pointer;
    display: inline-block;
}
.ui-pagination .total {
    position: absolute;
    right: 0;
    top: 0;
}
.ui-pagination .total a {
    text-decoration: none;
}
.ui-pagination-ellipsis {

}
.ui-pagination-inputs {
    display: inline-block;
    vertical-align: text-bottom;

    border: 1px solid #888;
}
.ui-pagination-inputs-number {
    float: left;
    border: none;
    padding: 0;
    margin: 0;
    text-align: right;
    height: 1.4em;
    line-height: 1.4em;

    width: 60px;
}
.ui-pagination-inputs-btn {
    clear: right;
    float: right;
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 0.7em;

    width: 15px;
}
.ui-pagination-inputs-up-btn {
    background: url(./chosen-sprite.png) no-repeat -16px -5px;
}
.ui-pagination-inputs-down-btn {
    background: url(./chosen-sprite.png) no-repeat 2px -5px;
}
.ui-paginationswitch-dd input {
  width: 100px;
}

