/**
 * form样式
 */
 

/**
 * AutoComplete
 */
.ui-form-autocomplete {
}
.ui-form-autocomplete.ui-form-autocomplete-isinputing {
}
.ui-form-autocomplete-console {
}
.ui-form-autocomplete-console-text {
}
.ui-form-autocomplete-console-toggle {
}
.ui-form-autocomplete-datapane {
}
.ui-form-autocomplete-datapane-options {
}
.ui-form-autocomplete-datapane-option {
}
.ui-form-autocomplete-datapane-option.ui-common-hover {
}
.ui-form-autocomplete-datapane-option.ui-common-focus {
}
.ui-form-autocomplete-datapane-option.ui-common-selected {
}
.ui-form-autocomplete-datapane-option.ui-common-disabled {
}
