/**
 * form样式
 */
 

/**
 * AutoComplete
 */
.ui-form-autocomplete {
  display: inline-block;
  position: absolute;
  z-index: 10000;
}
.ui-form-autocomplete-inputs {
}
.ui-form-autocomplete-inputs-console {
}
.ui-form-autocomplete-inputs-console-label {
}
.ui-form-autocomplete-inputs-console-text {
  border: none;
}
.ui-form-autocomplete-inputs-console-toggle {
}
.ui-form-autocomplete-inputs-dropdown {
}
.ui-form-autocomplete-inputs-dropdown ul {
  overflow: auto;
}
.ui-form-autocomplete-inputs-dropdown ul li {
  cursor: pointer;
}
.ui-form-autocomplete-inputs-dropdown ul li:hover {
}


