/**
 * form样式
 */
 

/**
 * AutoComplete
 */
.ui-form-autocomplete {
  display: inline-block;
}
.ui-form-autocomplete.ui-form-autocomplete_isediting {
}
.ui-form-autocomplete-console {
}
.ui-form-autocomplete-console-text {
  border: none;
}
.ui-form-autocomplete-console-toggle {
  display: inline-block;
}
.ui-form-autocomplete-datapane {
  position: absolute;
}
.ui-form-autocomplete-datapane-options {
  overflow: auto;
}
.ui-form-autocomplete-datapane-option {
  cursor: pointer;
}
.ui-form-autocomplete-datapane-option.ui-common_highlight {
}
.ui-form-autocomplete-datapane-option.ui-common_selected {
}
.ui-form-autocomplete-datapane-option.ui-common_disabled {
}
