:root {
  --uiModalTopZIndex: 10000;
}

.ui-modal {
  position: absolute;
  left: 0;
  top: 0;
  z-index: var(--uiModalTopZIndex);
}

.ui-modal-popup {
  ;
}

.ui-modal-dialog {
  background: #fff;
}

.ui-modal-dialog-titlebar {
  ;
}

.ui-modal-dialog-pane {
  clear: both;
}

.ui-modal-dialog-actionbar {
  text-align: center;
}

.ui-modal-dialog-float-left {
  float: left;
}

.ui-modal-dialog-float-right {
  float: right;
}

.ui-modal-dialog-btn-cancel {
  ;
}
.ui-modal-dialog-btn-cancel[disabled] {
  ;
}

.ui-modal-dialog-btn-submit {
  ;
}
.ui-modal-dialog-btn-submit[disabled] {
  ;
}

.ui-modal-dialog-btn-separater {
  ;
}
.ui-modal-mask {
  position: absolute;
  background: #000000;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  opacity: 0.5;
}