:root {
  --uiModalTopZIndex: 10000;
  --uiModalBarHeight: 28px;
  --uiModalCmdbtnSize: 16px;
}

.ui-modal {
  position: fixed;
  z-index: var(--uiModalTopZIndex);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.ui-modal .disable-select {
  user-select: none;
}

.ui-modal .box-bordersizing {
  box-sizing: border-box;
}
.ui-modal .box-contentsizing {
  box-sizing: content-box;
}

.ui-modal .float-right {
  float: right;
}


.ui-modal .cmdbutton {
  /*.box-contentsizing;*/
  box-sizing: content-box;
  width: var(--uiModalCmdbtnSize);
  height: var(--uiModalCmdbtnSize);
  border: solid 1px;
  font-family: 宋体, tahoma, arial;
  font-size: var(--uiModalCmdbtnSize);
  text-align: center;
  cursor: pointer;
}
.ui-modal .cmdbutton:hover {
  color: #f00;
}

  .ui-modal .ui-mask-outer {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
  }

  .ui-modal .ui-dialog-outer {
    position: fixed;
    left: 25%;
    top: 25%;
    right: 25%;
    bottom: 25%;
    background: rgba(255, 255, 255, 1);
  }

  .ui-modal .ui-popup-outer {
    position: fixed;
    left: 10%;
    top: 20%;
    right: 10%;
    bottom: 50%;
    background: rgba(255, 255, 255, 1);
  }

    .ui-modal .ui-titlebar-outer {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: var(--uiModalBarHeight);
      background: #ddd;
      overflow: hidden;
      /*.disable-select;*/
      user-select: none;
      cursor: default;
    }

    .ui-modal .ui-actionbar-outer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: var(--uiModalBarHeight);
      background: #ddd;
      overflow: hidden;
    }

    .ui-modal .ui-pane-outer {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      overflow: auto;
    }

    .ui-modal .ui-popup-pane-outer {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      overflow: auto;
    }

    .ui-modal .ui-dialog-pane-outer {
      position: absolute;
      left: 0;
      right: 0;
      top: var(--uiModalBarHeight);
      bottom: var(--uiModalBarHeight);
      overflow: auto;
    }

